.scheduleItem {
    padding: 8px;
    background-color: #222;
    color: white;
    font-size: 14px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid #333;
    flex-direction: column;
    display: flex;
    height: 100%;
    text-overflow: ellipsis;

    .itemHour {
        opacity: 0.5;
        font-size: 12px;
        flex: 1;
    }
}

.currentlyPlaying {
    background-color: #555;
    color: white;
    border-left: 0;
    border-right: 0;

    .itemHour {
      opacity: 0.7;
    }
}